.nav-bar{
  position: absolute;
  width: 100%;
  height: 55px;
  left: 0px;
  top: 0px;

  background: #F55A5A;
}

.nav-bar>p {
  position: absolute;
  width: 109px;
  height: 10px;
  left: 244px;
  top: 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  letter-spacing: -0.075em;

  color: white;
}

.nav-bar>img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 213px;
  top: 20px;
}

.tile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.tile {
  position: relative;
  width: 470px;
  height: 252px;
  left: 40px;
  top: 10px;
}

.tile>.tile-img {
  position: absolute;
  width: 125px;
  height: 168px;
  left: 40px;
  top: 100px;

  border-radius: 5px;
}

.tile>.location-icon {
  position: absolute;
  width: 7px;
  height: 9.55px;
  left: 184px;
  top: 120px;
}

.tile>h1 {
  position: absolute;
  width: 326px;
  height: 40px;
  left: 184px;
  top: 136px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;
}

.tile>small {
  position: absolute;
  width: 40px;
  height: 10px;
  left: 195px;
  top: 119px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2B283A;
}

.tile>a {
  position: absolute;
  width: 106px;
  height: 13px;
  left: 280px;
  top: 119px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #918E9B;
}

.tile>b {
  position: absolute;
  width: 319px;
  height: 11px;
  left: 184px;
  top: 183px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2B283A;
}

.tile>p {
  position: absolute;
  width: 326px;
  height: 45px;
  left: 184px;
  top: 203px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */


  color: #2B283A;
}